
<div class="text-center" *ngIf="cargando">
    <p-progressSpinner></p-progressSpinner>
    <br>
    <span>Cargando...</span>
</div>

<div class="flex" *ngIf="!cargando">
    <div class="col-12">

        <p-card>
            <div *ngFor="let location of locationId">
    
                <h2>Nombre de la localización: {{ location.name }}</h2>
                <h2>Tipo de localización: {{ location.type }}</h2>
                <h2>Dimension: {{ location.dimension }}</h2>
                <h2>Número de residentes: {{ location.residents.length }}</h2>
                <h2>Creada: {{ location.created | date }}</h2>
    
            </div>

        </p-card>

    </div>
</div>

<button pButton type="button"
        (click)="irAtras()"
        class="p-button-raised p-button-rounded p-button-danger"
        icon="pi pi-arrow-circle-left"></button>