
<div class="text-center" *ngIf="cargando">
    <p-progressSpinner></p-progressSpinner>
    <br>
    <span>Cargando...</span>
</div>

<div class="flex" *ngIf="!cargando">
    <div class="col-12">

        <h2 class="col-12">Infomarcion de locación</h2>
        <p-card>
            <div *ngFor="let location of locationId">
    
                <h3>Nombre de la localización: {{ location.name }}</h3>
                <h3>Tipo de localización: {{ location.type }}</h3>
                <h3>Dimensión: {{ location.dimension }}</h3>
                <h3>Número de residentes: {{ location.residents.length }}</h3>
                <h3>Creada: {{ location.created | date }}</h3>
    
            </div>

        </p-card>

    </div>
</div>

<button pButton type="button"
        (click)="irAtras()"
        class="p-button-raised p-button-rounded p-button-danger"
        icon="pi pi-arrow-circle-left"></button>