

<div class="card text-center">
    <p-table [value]="personajes" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th >Imagen <i class="pi pi-image"></i></th>
                <th>Nombre</th>
                <th>Estado del Personaje</th>
                <th>Especie</th>
                <th>Ultima Localización </th>
                <th>Último Espisodio</th>
                <th>Detalles </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-personaje>
            <tr>
                <td><img src="{{ personaje.image }}" alt="{{ personaje.name }}"></td>
                <td>{{ personaje.name }}</td>
                <td>{{ personaje.status }}</td>
                <td>{{ personaje.species }}</td>
                <td><a (click)="irALocation( personaje.location.url )" routerLink>{{ personaje.location.name }}</a></td>
                <td>{{ personaje.episode.length }}</td>
                <td><button pButton label="Detalles" routerLink="{{personaje.id }}"></button></td>
            </tr>
        </ng-template>
        
        
    </p-table>
</div>