:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
}

img {
    width: 80%;
}

:host ::ng-deep .p-image {
    width: 100%;
}

a {
    cursor: pointer;
}