
<!-- Cargando -->
<div class="text-center" *ngIf="cargando">
    <p-progressSpinner></p-progressSpinner>
    <br>
    <span>Cargando...</span>
</div>

<!-- Mensajes personalizados -->
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                 header="Confirmar"
                 icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>



<!-- Tabla -->
<div class="flex card align-content-center" 
     *ngIf="!cargando">
     <div class="col-12" style="padding: 0; margin-top: 5px;">
         <p-table responsiveLayout="stack" [value]="personajes | busqueda:termino" >
     
             <ng-template pTemplate="caption">
                 <div class="grid align-items-center" style="margin: 5px;">
                     <div class="col-12 sm:col-6">
                         <h3 style="margin: 0;" >Listado de personajes</h3>  
                     </div>
                     <div class="p-inputgroup col-12 sm:col-6" style="height: 50px; margin-top: 5px;">
                         <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                         <input type="text" 
                                pInputText
                                (keyup)="buscar( txtSearch.value )"
                                placeholder="Buscar Personajes"
                                #txtSearch>         
                     </div>
     
                 </div>
             </ng-template>
     
             <ng-template pTemplate="header" let-columns >
                 <tr>
                     <th><i class="pi pi-image"></i></th>
                     <th>Nombre</th>
                     <th>Estado del Personaje</th>
                     <th>Especie</th>
                     <th>Última Localización </th>
                     <th>Último Espisodio</th>
                     <th>Detalles</th>
                     <th>Favorito</th>
                 </tr>
             </ng-template>
     
             <ng-template pTemplate="body" let-personaje let-columns="columns" let-i="rowIndex">
                 <tr>
                     <td><p-image imageClass="p-image" src="{{ personaje.image }}" [preview]="true"></p-image></td>
                     <td><span class="p-column-title">Nombre</span>{{ personaje.name }}</td>
                     <td><span class="p-column-title">Estado del personaje</span>{{ personaje.status }}</td>
                     <td><span class="p-column-title">Especie</span>{{ personaje.species }}</td>
                     <td><span class="p-column-title">Ultima Localización</span><a (click)="irALocation( personaje.location.url )" routerLink>{{ personaje.location.name }}</a></td>
                     <td><span class="p-column-title">Ultimo episodio</span>{{ personaje.episode[0] }}</td>
                     <td><span class="p-column-title">Detalles</span><button pButton icon="pi pi-info-circle" routerLink="{{ personaje.id }}"></button></td>
                     <td><span class="p-column-title">Favoritos</span>
                        <button #favorito
                                id="boton"
                                pButton
                                icon="pi pi-star"
                                (click)="guardarEnFavoritos( personaje )"
                                ></button></td>
                 </tr>
             </ng-template>
             
             
         </p-table>
         
     </div>

</div>