:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    padding: 0;
}


:host ::ng-deep .p-image {
    width: 120px;
}

a {
    cursor: pointer;
}

 @media screen and (max-width: 960px) {
    :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
        text-align: center;
        padding: 5px;
    }
 }